<a href="https://colab.research.google.com/github/hemantmarothi/Quantum-Computing/blob/main/Week_2_Lab_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 2: Python Basics I**
---

### **Description**
In this lab, we will familiarize ourselves with Google Colab. We will also begin to develop the necessary Python skills and foundation, paving the way for success in our upcoming quantum computing course.

<br>

### **Structure**
**Part 1**: [Getting Familiar with Google Colab](#p1)

**Part 2**: [Arithmetic Operators](#p2)

**Part 3**: [Variables](#p3)

**Part 4**: [Additional Practice [OPTIONAL]](#p4)
>
> **Part 4.1**: [Arithmetic Operators](#p4.1)
>
> **Part 4.2**: [Variables](#p4.2)


<br>

### **Learning Objectives**
By the end of this lab, we will:
* Recognize the definition/framework of objects and attributes.
* Recognize the main data types and how to modify them with basic arithmetic operators (+, -, /, *).
* Recognize that variables are a way to store objects.


<br>

### **Resources**
* [Python Basics Cheat Sheet](https://docs.google.com/document/d/1uLao-xKh3tYIiCYyiqf7oas4qTlr5XYKQ0QpzX_Xzag/edit?usp=sharing)

<a name="p1"></a>

---
## **Part 1: Getting Familiar with Google Colab**
---

#### **Problem #1.1**

**Together**, let's change the title of our notebook. Rename the notebook to "QXQ Week 1 Lab Notebook".

#### **Problem #1.2**

**Together**, let's create a new text cell and type: "This is a text cell."

#### **Problem #1.3**

**Together**, let's create a new code cell and type: "This is a code cell."

#### **Problem #1.4**

**Together**, let's run the code cell below.

---

<center>

#### **Wait for Your Instructor to Continue**

---

<a name="p2"></a>

---
## **Part 2: Arithmetic Operators**
---

#### **Problem #2.1**

**Together**, let's add the ints 3 and 2.

In [1]:
3 + 2

5

#### **Problem #2.2**

**Together**, let's add 7.0 and 2.0.

In [2]:
7.0 + 2.0

9.0

#### **Problem #2.3**

**Together**, let's divide 23 by 2.

In [3]:
23 / 2

11.5

#### **Problem #2.4**

**Together**, let's multiply 24.0 and 25.4.

In [5]:
24.0 * 25.4

609.5999999999999

---

#### **Now it's your turn! Try Problems #2.5 - 2.7 on your own.**

---

#### **Problem #2.5**

**Independently**, add 13 and 27.

In [6]:
13 + 27

40

#### **Problem #2.6**

**Independently**, multiply 1000 and 3000.5.

In [7]:
1000 * 3000.5

3000500.0

#### **Problem #2.7**

**Independently**, divide 250 by 50.

In [8]:
250 / 50

5.0

---

<center>

#### **Wait for Your Instructor to Continue**

---

<a name="p3"></a>

---
## **Part 3: Variables**
---

#### **Problem #3.1**

**Together**, let's create a variable called `my_school` and assign a string (anything inside quotes: `"..."`) to it with your school's name.

<br>

**NOTE**: We will output the variable's value by writing the name on a line of its own.

In [10]:
my_school = "The Coding School"

my_school

'The Coding School'

#### **Problem #3.2**

**Together**, let's create and name a variable with your favorite number as an integer. Output its value.

In [12]:
fav_int = 1
fav_int

1

---

#### **Now it's your turn! Try Problems #3.3 - 3.4 on your own.**

---

#### **Problem #3.3**

**Independently**, create and name a variable with your favorite number as a float. Output its value.

In [14]:
fav_float = 1.0
fav_float

1.0

#### **Problem #3.4**

**Independently**, look through the given declarations and determine which ones are incorrect?

a. `Var1 = 7`

b. `VAR5 = 8`

c. `2var = 92`

d. `first_last_name = "james gooding"`

e. `Hello! = 0.283`

f. `variable24 = "my favorite food is"`

g. `str = "string"`

**Double Click This Cell To Enter Your Answer(s)**

---

<center>

#### **Wait for Your Instructor to Continue**

---

<a name="p4"></a>

---
## **Part 4: Additional Practice [OPTIONAL]**
---

<a name="p4.1"></a>

---
### **Part 4.1: Arithmetic Operators**
---

#### **Problem #4.1.1**

Calculate 5 divided by 2.

In [17]:
5 / 2

2.5

#### **Problem #4.1.2**

Calculate 50 divided by 2.

In [18]:
50 / 2

25.0

#### **Problem #4.1.3**

Calculate 28 multiplied by 1995.

In [19]:
28 * 1995

55860

#### **Problem #4.1.4**

Calculate 3 squared.

In [21]:
3 ** 2

9

#### **Problem #4.1.5**

Calculate 2 to the 10th power minus 5.

In [23]:
2 ** 10 - 5

1019

<a name="p4.2"></a>

---
### **Part 4.2: Variables**
---

#### **Problem #4.2.1**

Create a variable named `favorite_animal` and assign a string to it of your favorite animal. Output its value.

In [24]:
favourite_animal = "Elephant"
favourite_animal

'Elephant'

#### **Problem #4.2.2**

Create a variable called `problem_number` and assign the float `4.22` to it. Output its value.

In [25]:
problem_number = 4.22
problem_number

4.22

#### **Problem #4.2.3**

Create a variable called `next_problem_number` and assign the result of adding `problem_number` and 0.01. Output its value.

In [28]:
next_problem_number = problem_number + 0.01
next_problem_number

4.2299999999999995

#### **Problem #4.2.4**

Create a variable named `my_age` and assign an int with your age to it. Output its value.

In [29]:
my_age = 21
my_age

21

#### **Problem #4.2.5**

Create a variable named `my_age_in_months` that is equal to `my_age` multiplied by 12. Output its value.

In [30]:
my_age_in_months = my_age * 12
my_age_in_months

252

# End of notebook
---
Â© 2023 The Coding School, All rights reserved